project_id = ""
image_path = ""
region     = ""
env_vars = {
  LLM_API_KEY         = ""
  LLM_MODEL           = ""
  LLM_BASE_URL        = ""
  TAVILY_API_KEY      = ""
  BASIC_AUTH_USERNAME = ""
  BASIC_AUTH_PASSWORD = ""
}

